<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="shortcut icon" href="#"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery UI -->
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/static/css/styles.css" rel="stylesheet">

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .sidebar, .content-box-large {
            background-color: rgba(255, 255, 255, 0.5);
        }

        .content-box-large, .table, .table th, .table td {
            background-color: rgba(255, 255, 255, 0.5);
            border-color: rgba(255, 255, 255, 0.5);
        }

        .header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .container {
            padding: 0 !important;
        }

        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-image: url('/static/images/hai (1).jpg');
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            min-height: 100vh;
            position: relative;
            padding-top: 70px;
        }
    </style>

</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="index.html">图书管理系统</a></h1>
                </div>
            </div>
            <div class="col-md-2">
                <div class="navbar navbar-inverse" role="banner">
                    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">我<b class="caret"></b></a>
                                <ul class="dropdown-menu animated fadeInUp">
                                    <li><a href="/login">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="/index"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
                    <li><a href="/pub_list"><i class="glyphicon glyphicon-briefcase"></i> 出版社管理</a></li>
                    <li><a href="/author_list"><i class="glyphicon glyphicon-pencil"></i> 作者管理</a></li>
                    <li><a href="/book_list"><i class="glyphicon glyphicon-book"></i> 图书管理</a></li>
                    <li><a href="/reader_list"><i class="glyphicon glyphicon-user"></i> 读者管理</a></li>
                    <li class="current"><a href="/borrow_book"><i class="glyphicon glyphicon-time"></i> 借书管理</a>
                    </li>
                    <li><a href="/fine_processing"><i class="glyphicon glyphicon-list"></i> 罚款管理</a></li>
                    <li class="submenu">
                        <a href="#">
                            <i class="glyphicon glyphicon-cog"></i> 系统设置
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/signup">Sign up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">借书管理</div>
                </div>
                <div class="panel-body">
                    {% if messages %}
                        <div class="alert alert-warning">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <!-- 添加借书记录的表单 -->
                    <form class="form-horizontal" action="{% url 'borrow_book' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="book_id" class="col-md-1 control-label">书籍号：</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="book_id" name="book_id"
                                       placeholder="输入书籍序号">
                            </div>

                            <label for="reader_card_number" class="col-md-2 control-label">卡号：</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="reader_card_number"
                                       name="reader_card_number" placeholder="输入卡号">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-1"></div> <!-- 空列用于对齐 -->
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success form-control">添加借书记录</button>
                            </div>
                        </div>
                    </form>


                    <br/>
                    <!-- 显示借书记录的表格 -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>书籍号</th>
                            <th>书名</th>
                            <th>读者</th>
                            <th>卡号</th>
                            <th>借书日期</th>
                            <th>还书日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for borrow in borrows %}
                            <tr>
                                <td>{{ borrow.book.id }}</td>
                                <td>{{ borrow.book.name }}</td>
                                <td>{{ borrow.reader.name }}</td>
                                <td>{{ borrow.reader.card_number }}</td>
                                <td>{{ borrow.borrow_date }}</td>
                                <td>{{ borrow.return_date }}</td>
                                <td>
                                    <a href="{% url 'extend_return_date' %}?id={{ borrow.id }}" class="btn btn-primary">延长还书日期</a>
                                    <a href="{% url 'drop_borrow' %}?id={{ borrow.id }}" class="btn btn-danger">还书</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="/static/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen">

<!-- ... (footer 部分内容) ... -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables/dataTables.bootstrap.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/tables.js"></script>
</body>
</html>
