<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新密码</title>

     <style>



        body {
        background-image: url('/static/images/2.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        position: relative;
        padding-top: 70px;
        margin: 0;
        overflow: hidden;
    }
    </style>

</head>
<body>
<div style="margin: 15% 40%;">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <h1>更新密码</h1>
    <form action="/update_password/" method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">用户名：</label>
            <input type="text" id="id_username" name="username" placeholder="用户名" required />
        </p>
        <p>
            <label for="id_password1">新密码：</label>
            <input type="password" id="id_password1" name="password1" placeholder="新密码" required />
        </p>
        <p>
            <label for="id_password2">确认密码：</label>
            <input type="password" id="id_password2" name="password2" placeholder="确认密码" required />
        </p>
        <input type="submit" value="更新密码">
    </form>
</div>
</body>
</html>
