<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
     <style>
        .button-container input[type="submit"],
        .button-container button {
            margin-right: 100px;
        }


        body {
        background-image: url('/static/images/2.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        position: relative;
        padding-top: 70px;
        margin: 0;
        overflow: hidden;
    }
    </style>
</head>
<body>
<div style="margin: 15% 40%;">
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <h1>重置密码</h1>
    <form action="/reset_password/" method="post">
        {% csrf_token %}
        <p>
            <label for="id_username">用户名：</label>
            <input type="text" id="id_username" name="username" placeholder="用户名" required />
        </p>
        <p>
            <label for="id_email">邮箱：</label>
            <input type="email" id="id_email" name="email" placeholder="邮箱" required />
        </p>
            <div class="button-container">
            <input type="submit" value="确定">
            <button type="button" onclick="location.href='/login'">返回</button>
        </div>
    </form>

</div>
</body>
</html>
